.head-content {
  justify-content: space-between;
}

.grid__button {
  align-items: flex-start;
  gap: 12px;
}

.filter-product {
  border-radius: 10px;
  padding: 13px;
  width: 100%;
  outline: none;
  border: 1px solid #888;
}
