<div class="img--container">
  <a routerLink="/home" class="img-link">
    <img class="img-class" src="assets/error-not-found.png" alt="img error">
    <div class="page-not-fond__heading heading-type text-align--center font-family--serif">
      <h1>SORRY, SOMETHING WENT WRONG</h1>
    </div>
    <div class="page-not-fond__desc  text-align--center font-family--sans">
      <p class="text-align--center page-not-fond__desc-text">The page you are looking for might have been removed
        <br>
        or is temporarily unavailable.</p>
      <a routerLink="/home" class="go-home link--primary">Go to the homepage</a>
    </div>
  </a>
</div>
