@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.text-align--center {
  text-align: center;
}


.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373
}

.red {
  color: red;
}

.dropdownSideBar {
  display: none;
}

.dropdown, .dropup {
  position: relative
}

.open > .dropdown-menu {
  display: block
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 124px;
  margin: 2px 0 0;
  font-size: 15px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-toggle:focus {
  outline: 0
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

.title-list {
  font-size: 23px;
  padding: 24px;
}

.search-form {
  width: 350px;
  margin-left: 24px;
  height: 100%;
  position: relative;
}

.search-input {
  outline: none;
  font-size: 17px;
  width: 100%;
  padding: 9px 6px;
  border-radius: 5px;
  border: 1px solid #000;
}

.search-icon {
  position: absolute;
  right: 6px;
  top: 8px;
  cursor: pointer;
}

.table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

.action-button {
  display: flex;
  gap: 8px;
}

.button--primary {
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: #fff;
  background-color: #1D7CEF;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button--secondary {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 11px;
  color: #000;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button--secondary:hover {
  background-color: #cccccc;
}

.button--primary:hover {
  background-color: #175db2;
}

.button--danger {
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: #fff;
  background-color: #f32222;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button--danger:hover {
  background-color: #d00a0a;
}

/*table {*/
/*  width: 800px;*/
/*}*/

th, td {
  font-size: 17px;
  background-color: #fff;
}

/*.mat-mdc-header-cell, mat-mdc-cell {*/
/*  width: 200px;*/
/*}*/

.example-container {
  max-width: 100%;
  overflow: auto;
  margin: 0 24px;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
  background-color: #fff;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.edit-icon, .remove-icon {
  cursor: pointer;
}

.edit-icon:hover {
  .edit-icon-hover {
    fill: #0F4AA4;
  }
}

.remove-icon:hover {
  .remove-icon-hover {
    stroke: #0F4AA4;
  }
}

.action {
  display: flex;
  gap: 8px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(239, 236, 236) !important;
}

.mat-column-star {
  border-left: 1px #ccc solid;
}

th.mat-sort-header-sorted {
  color: black;
}

.bottom-table {
  padding: 24px;
}

.page-size {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-size-number {
  padding: 5px 10px;
  outline: none;
}

.bottom-table {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  list-style: none;
}

.pagination-button {
  background-color: #ffffff;
  padding: 5px 9px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-button:hover {
  /*background-color: rgba(234, 232, 232, 0.57);*/
  opacity: 0.7;
}

.activePage {
  background-color: #0F4AA4;
}

.mw100 {
  min-width: 100px;
}

.mw150 {
  min-width: 150px;
}

.mw200 {
  min-width: 200px;
}

/*popup delete*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.popup-delete {
  background-color: #fff;
  width: 500px;
  height: 200px;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.popup-add {
  background-color: #fff;
  height: 80%;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 80%;
  left: 50%;
}

.popup-delete--title {
  font-size: 22px;
  margin: 15px;
}

.popup-delete--description {
  padding: 18px 15px;
}

.popup-delete--action {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 12px;
}

.statistics--heading {
  padding: 30px 0;
}
