<div class="container">
  <h1 class="title-list">Danh sách đồng hồ</h1>
  <div class="search-form">
    <input [(ngModel)]="searchQuery" (input)="onInputChange()" (keydown.enter)="enterOrClickSearch()"
           class="search-input"
           type="text"
           placeholder="Tên, chất liệu, kích thước ...">
    <svg class="search-icon" (click)="enterOrClickSearch()" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </g>
    </svg>
  </div>
  <div style="    padding: 0 24px;
    margin-top: 30px;">
    <hr>
  </div>
  <!--  <div *ngIf="isLoading" style="text-align: center">-->
  <!--    <app-loading-spinner></app-loading-spinner>-->
  <!--  </div>-->
  <div *ngIf="isLoadingInit" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="table-container">
    <h2 style="font-size: 19px">{{response.total}} kết quả</h2>
    <div class="action-button">
      <div class="remove-button" *ngIf="selection.selected.length">
        <button class="button--danger" (click)="showDeletePopupFn()">Xóa
          ({{selection.selected.length}})
        </button>
      </div>
      <div class="add-button">
        <button class="button--primary" (click)="showAddFormFn()">Thêm mới</button>
      </div>
    </div>
  </div>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th style="background-color: #fff" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td style="background-color: #fff" mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="maSanPham">
        <th mat-header-cell *matHeaderCellDef class="mw150">Mã sản phẩm</th>
        <td mat-cell *matCellDef="let watch"> {{watch.maSanPham}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenSanPham">
        <th mat-header-cell *matHeaderCellDef class="mw150">Tên sản phẩm</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenSanPham}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="giaSanPham">
        <th mat-header-cell *matHeaderCellDef class="mw150">Giá sản phẩm</th>
        <td mat-cell *matCellDef="let watch"> {{watch.giaSanPham | currency: 'VND':'':'1.0-0' }}vnđ</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="slTonKho">
        <th mat-header-cell *matHeaderCellDef class="mw150">Số lượng tồn</th>
        <td mat-cell *matCellDef="let watch"> {{watch.slTonKho}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="anhSP">
        <th mat-header-cell *matHeaderCellDef class="mw100">Ảnh sản phẩm</th>
        <td mat-cell *matCellDef="let watch"> {{watch.anhSP}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="moTaSP">
        <th mat-header-cell *matHeaderCellDef class="mw200">Mô tả</th>
        <td mat-cell *matCellDef="let watch"> {{watch.moTaSP}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ngayThemSP">
        <th mat-header-cell *matHeaderCellDef class="mw200">Ngày tạo</th>
        <td mat-cell *matCellDef="let watch"> {{watch.ngayThemSP | date}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="maSeri">
        <th mat-header-cell *matHeaderCellDef class="mw150">Mã Seri</th>
        <td mat-cell *matCellDef="let watch"> {{watch.maSeri}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenLoai">
        <th mat-header-cell *matHeaderCellDef class="mw100">Loại</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenLoai}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenThuongHieu">
        <th mat-header-cell *matHeaderCellDef class="mw100">Thương hiệu</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenThuongHieu}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenQG">
        <th mat-header-cell *matHeaderCellDef class="mw100">Quốc gia</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenQG}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="baoHanhSP">
        <th mat-header-cell *matHeaderCellDef class="mw100">Bảo hành</th>
        <td mat-cell *matCellDef="let watch"> {{watch.baoHanhSP}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="giamGiaSP">
        <th mat-header-cell *matHeaderCellDef class="mw100">Giảm giá</th>
        <td mat-cell *matCellDef="let watch"> {{watch.giamGiaSP}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="anhChiTietSP">
        <th mat-header-cell *matHeaderCellDef class="mw100">Chi tiết ảnh</th>
        <td mat-cell *matCellDef="let watch">Click to more</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="kichThuoc">
        <th mat-header-cell *matHeaderCellDef class="mw100">Kích thước</th>
        <td mat-cell *matCellDef="let watch"> {{watch.kichThuoc}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenCCHD">
        <th mat-header-cell *matHeaderCellDef class="mw100">CCHD</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenCCHD}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="loaiDayDeo">
        <th mat-header-cell *matHeaderCellDef class="mw100">Dây đeo</th>
        <td mat-cell *matCellDef="let watch"> {{watch.loaiDayDeo}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenCL">
        <th mat-header-cell *matHeaderCellDef class="mw100">Chất liệu</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenCL}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenHinhDang">
        <th mat-header-cell *matHeaderCellDef class="mw150">Hình dạng</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenHinhDang}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenmauDD">
        <th mat-header-cell *matHeaderCellDef class="mw150">Màu dây</th>
        <td mat-cell *matCellDef="let watch"> {{watch.tenmauDD}} </td>
      </ng-container>

      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="background-color: #fff">Thao tác</th>
        <td mat-cell *matCellDef="let watch">
          <div class="action">
            <div class="edit-icon" (click)="showUpdateFormFn(editForm, watch)">
              <svg width="25px" height="25px" viewBox="0 0 24 24"
                   fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path class="edit-icon-hover" fill-rule="evenodd" clip-rule="evenodd"
                        d="M20.8477 1.87868C19.6761 0.707109 17.7766 0.707105 16.605 1.87868L2.44744 16.0363C2.02864 16.4551 1.74317 16.9885 1.62702 17.5692L1.03995 20.5046C0.760062 21.904 1.9939 23.1379 3.39334 22.858L6.32868 22.2709C6.90945 22.1548 7.44285 21.8693 7.86165 21.4505L22.0192 7.29289C23.1908 6.12132 23.1908 4.22183 22.0192 3.05025L20.8477 1.87868ZM18.0192 3.29289C18.4098 2.90237 19.0429 2.90237 19.4335 3.29289L20.605 4.46447C20.9956 4.85499 20.9956 5.48815 20.605 5.87868L17.9334 8.55027L15.3477 5.96448L18.0192 3.29289ZM13.9334 7.3787L3.86165 17.4505C3.72205 17.5901 3.6269 17.7679 3.58818 17.9615L3.00111 20.8968L5.93645 20.3097C6.13004 20.271 6.30784 20.1759 6.44744 20.0363L16.5192 9.96448L13.9334 7.3787Z"
                        fill="#828488"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="remove-icon" (click)="showDeletePopupFn1SP(watch)">
              <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M10 11V17" stroke="#828488" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="remove-icon-hover"></path>
                  <path d="M14 11V17" stroke="#828488" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="remove-icon-hover"></path>
                  <path d="M4 7H20" stroke="#828488" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="remove-icon-hover"></path>
                  <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                        class="remove-icon-hover" stroke="#828488"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" class="remove-icon-hover"
                        stroke="#828488"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <h2 *ngIf="currentPage > response.last_page" style="text-align: center; margin: 40px">Không có dữ liệu</h2>

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </section>

  <div class="bottom-table">
    <div class="page-size">
      <p>Số kết quả mỗi trang</p>
      <select #pageSize class="page-size-number" (change)="onChangedPageSize(pageSize.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="pagination">
      <p>Hiển thị {{response.from}}-{{response.to}} trên tổng {{response.total}} kết quả </p>
      <ul class="pagination-list">
        <ng-container>
          <li class="pagination-item">
            <button class="pagination-button" (click)="changePage('1')" [disabled]="response.current_page==1">&laquo;
            </button>
          </li>
          <li class="pagination-item">
            <button class="pagination-button" (click)="changePage((response.current_page-1).toString())"
                    [disabled]="response.current_page==1">&#8249;
            </button>
          </li>
          <li class="pagination-item" *ngFor="let page of response.links; let i = index">
            <button class="pagination-button" (click)="changePage(page.label)"
                    [class.activePage]="page.active" [disabled]="!page.url"
                    style="padding: 5px 9px !important;">{{page.label}}</button>
          </li>
          <li class="pagination-item">
            <button class="pagination-button" (click)="changePage((response.current_page+1).toString())"
                    [disabled]="response.current_page>=response.last_page">&#8250;
            </button>
          </li>
          <li class="pagination-item">
            <button class="pagination-button" (click)="changePage(response.last_page.toString())"
                    [disabled]="response.current_page>=response.last_page">&raquo;
            </button>
          </li>
        </ng-container>
      </ul>

    </div>
  </div>
</div>

<!-- form xóa một sản phẩm -->
<div *ngIf="showFormDelete1SP" style="transition: all linear 0.5s">
  <div class="overlay" (click)="hideDeletePopupFn1SP()"></div>
  <div class="popup-delete">
    <h1 class="popup-delete--title">Xóa sản phẩm</h1>
    <svg (click)="hideDeletePopupFn1SP()" style="position: fixed; top: 15px; right: 15px; cursor: pointer;" width="20px"
         height="20px"
         viewBox="0 -0.5 21 21" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier"><title>close [#1511]</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)" fill="#000000">
            <g id="icons" transform="translate(56.000000, 160.000000)">
              <polygon id="close-[#1511]"
                       points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446"></polygon>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <p class="popup-delete--description">
      Bạn có muốn xóa sản phẩm <strong>{{watchSelected.tenSanPham}}</strong> ra khỏi hệ thông không?
    </p>
    <div class="popup-delete--action">
      <button class="button--secondary" (click)="hideDeletePopupFn1SP()">Hủy</button>
      <button class="button--primary"
              (click)="deleteWatch(watchSelected.maSanPham)">Xóa
      </button>
    </div>
  </div>
</div>

<!-- form xóa nhiều sản phẩm -->
<div *ngIf="showDeletePopup" style="transition: all linear 0.5s">
  <div class="overlay" (click)="hideDeletePopupFn()"></div>
  <div class="popup-delete">
    <h1 class="popup-delete--title">Xóa sản phẩm</h1>
    <svg (click)="hideDeletePopupFn()" style="position: fixed; top: 15px; right: 15px; cursor: pointer;" width="20px"
         height="20px"
         viewBox="0 -0.5 21 21" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier"><title>close [#1511]</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)" fill="#000000">
            <g id="icons" transform="translate(56.000000, 160.000000)">
              <polygon id="close-[#1511]"
                       points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446"></polygon>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <p class="popup-delete--description" *ngIf="selection.selected.length==1">
      Bạn có muốn xóa sản phẩm <strong>{{selection.selected[0].tenSanPham}}</strong> ra khỏi hệ thông không?
    </p>
    <p class="popup-delete--description" *ngIf="selection.selected.length>1">
      Bạn có muốn xóa {{selection.selected.length}} sản phẩm ra khỏi hệ thông không?
    </p>
    <div class="popup-delete--action">
      <button class="button--secondary" (click)="hideDeletePopupFn()">Hủy</button>
      <button class="button--primary"
              (click)="deleteWatches(idsSelected)">Xo
      </button>
    </div>
  </div>
</div>

<!-- form thêm sản phẩm -->
<div *ngIf="showAddPopup" style="transition: all linear 0.5s">
  <div class="overlay" (click)="hideAddFormFn()"></div>

  <form class="popup-add" [formGroup]="addForm">
    <h1 class="popup-delete--title">Thêm sản phẩm</h1>
    <div class="row no-gutters">
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Tên sản phẩm</p>
          <input formControlName="name" class="form-input" type="text">
        </div>
        <div class="form-group">
          <p class="form-title">Cơ Cấu hoạt động</p>
          <select formControlName="CCHD" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden style="color: #cccccc">---------- Chọn
              ----------
            </option>
            <option *ngFor="let CCHD of watchCCHDs;" value="{{CCHD.maCCHD}}"
                    class="form-input-option">{{CCHD.tenCCHD}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Loại</p>
          <select formControlName="type" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let type of watchTypes;" value="{{type.maLoai}}"
                    class="form-input-option">{{type.tenLoai}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Thương hiệu</p>
          <select formControlName="brand" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let brand of watchBrands;" value="{{brand.maThuongHieu}}"
                    class="form-input-option">{{brand.tenThuongHieu}}</option>
          </select>
        </div>
      </div>
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Kích thước</p>
          <select formControlName="size" class="form-input" value="">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let size of watchSizes;" value="{{size.maKichThuoc}}"
                    class="form-input-option">{{size.kichThuoc}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Hình dạng</p>
          <select formControlName="shape" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let shape of watchShapes;" value="{{shape.maHinhDang}}"
                    class="form-input-option">{{shape.tenHinhDang}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Chất liệu</p>
          <select formControlName="material" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let material of watchMaterials;" value="{{material.maCL}}"
                    class="form-input-option">{{material.tenCL}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Dây đeo</p>
          <select formControlName="strap" class="form-input">
            <option class="form-input-option" value="" selected disabled hidden>---------- Chọn ----------</option>
            <option *ngFor="let strap of watchStraps;" value="{{strap.maDayDeo}}"
                    class="form-input-option">{{strap.loaiDayDeo}}</option>
          </select>
        </div>
      </div>
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Giá sản phẩm</p>
          <input formControlName="price" class="form-input" type="text">
        </div>
        <div class="form-group">
          <p class="form-title">Ảnh sản phẩm</p>
          <input formControlName="image" class="form-input" type="file" (change)="onFileChange($event)"
                 enctype="multipart/form-data">
        </div>
        <div class="form-group">
          <p class="form-title">Ảnh chi tiết sản phẩm</p>
          <input formControlName="images" multiple class="form-input" type="file" (change)="onFilesChange($event)"
                 enctype="multipart/form-data">
          <!--          <img [src]="preview" style="width: 50%; max-width: 70px">-->
        </div>
        <div class="form-group">
          <p class="form-title">Mô tả sản phẩm</p>
          <input formControlName="description" class="form-input" type="text">
        </div>
      </div>
      <div *ngIf="isLoadingForm" style="    position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
    <div class="popup-delete--action">
      <button class="button--secondary" (click)="hideAddFormFn()">Hủy</button>
      <button class="button--primary" (click)="onAdd(addForm)">Thêm
      </button>
    </div>
  </form>
</div>

<!-- form sửa sản phẩm -->
<div *ngIf="showUpdatePopup" style="transition: all linear 0.5s">
  <div class="overlay" (click)="hideUpdateFormFn()"></div>
  <form class="popup-add" [formGroup]="editForm">
    <h1 class="popup-delete--title">Sửa sản phẩm</h1>
    <div class="row no-gutters">
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Tên sản phẩm</p>
          <input formControlName="name" class="form-input" type="text" [value]="editForm.controls['name'].value">
        </div>
        <div class="form-group">
          <p class="form-title">Cơ Cấu hoạt động</p>
          <select formControlName="CCHD" class="form-input" [(ngModel)]="maCCHDSelected">
            <option *ngFor="let CCHD of watchCCHDs; let i = index" value="{{CCHD.maCCHD}}"
                    class="form-input-option"
            >{{CCHD.tenCCHD}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Loại</p>
          <select formControlName="type" class="form-input" [(ngModel)]="maLoaiSelected">
            <option *ngFor="let type of watchTypes;" value="{{type.maLoai}}"
                    class="form-input-option">{{type.tenLoai}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Thương hiệu</p>
          <select formControlName="brand" class="form-input" [(ngModel)]="maThuongHieuSelected">
            <option *ngFor="let brand of watchBrands;" value="{{brand.maThuongHieu}}"
                    class="form-input-option">{{brand.tenThuongHieu}}</option>
          </select>
        </div>
      </div>
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Kích thước</p>
          <select formControlName="size" class="form-input" [(ngModel)]="maKichThuocSelected">
            <option *ngFor="let size of watchSizes;" value="{{size.maKichThuoc}}"
                    class="form-input-option">{{size.kichThuoc}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Hình dạng</p>
          <select formControlName="shape" class="form-input" [(ngModel)]="maHinhDangSelected">
            <option *ngFor="let shape of watchShapes;" value="{{shape.maHinhDang}}"
                    class="form-input-option">{{shape.tenHinhDang}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Chất liệu</p>
          <select formControlName="material" class="form-input" [(ngModel)]="maChatLieuSelected">
            <option *ngFor="let material of watchMaterials;" value="{{material.maCL}}"
                    class="form-input-option">{{material.tenCL}}</option>
          </select>
        </div>
        <div class="form-group">
          <p class="form-title">Dây đeo</p>
          <select formControlName="strap" class="form-input" [(ngModel)]="maDayDeoSelected">
            <option *ngFor="let strap of watchStraps;" value="{{strap.maDayDeo}}"
                    class="form-input-option">{{strap.loaiDayDeo}}</option>
          </select>
        </div>
      </div>
      <div class="col l-4">
        <div class="form-group">
          <p class="form-title">Giá sản phẩm</p>
          <input formControlName="price" class="form-input" type="text" [value]="watchSelected.giaSanPham">
        </div>
        <div class="form-group">
          <p class="form-title">Ảnh sản phẩm</p>
          <input formControlName="image" class="form-input" type="file" (change)="onFileChange($event)"
                 enctype="multipart/form-data">
        </div>
        <div class="form-group">
          <p class="form-title">Ảnh chi tiết sản phẩm</p>
          <input formControlName="images" multiple class="form-input" type="file" (change)="onFilesChange($event)"
                 enctype="multipart/form-data">
          <!--          <img [src]="preview" style="width: 50%; max-width: 70px">-->
        </div>
        <div class="form-group">
          <p class="form-title">Mô tả sản phẩm</p>
          <input formControlName="description" class="form-input" type="text" [value]="watchSelected.moTaSP">
        </div>
      </div>
      <div *ngIf="isLoadingForm" style="    position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
    <div class="popup-delete--action">
      <button class="button--secondary" (click)="hideUpdateFormFn()">Hủy</button>
      <button class="button--primary" (click)="onEdit(editForm)" [disabled]="editForm.invalid">Sửa</button>
    </div>
  </form>

</div>

<p-toast></p-toast>
