<div class="container">
  <h1 class="title-list">Danh sách đồng hồ</h1>
  <div class="search-form">
    <input
      class="search-input"
      type="text"
      placeholder="Tên, chất liệu, kích thước ...">
    <svg class="search-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </g>
    </svg>
  </div>
  <div style="    padding: 0 24px;
    margin-top: 30px;">
    <hr>
  </div>
  <div class="table-container">
    <h2 style="font-size: 19px"> kết quả</h2>
    <div class="action-button">
    </div>
  </div>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->


      <!-- Position Column -->
      <ng-container matColumnDef="maHDB">
        <th mat-header-cell *matHeaderCellDef class="mw150">Mã hóa đơn</th>
        <td mat-cell *matCellDef="let bill"> {{bill.maHDB}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tenKhachHang">
        <th mat-header-cell *matHeaderCellDef class="mw150">Tên khách hàng</th>
        <td mat-cell *matCellDef="let bill"> {{bill.tenKhachHang}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="diaChi">
        <th mat-header-cell *matHeaderCellDef class="mw150">Địa chỉ</th>
        <td mat-cell *matCellDef="let bill"> {{ bill.diaChi }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="SDT">
        <th mat-header-cell *matHeaderCellDef class="mw150">Số điện thoại</th>
        <td mat-cell *matCellDef="let bill"> {{bill.SDT}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="mw100">Email</th>
        <td mat-cell *matCellDef="let bill"> {{bill.email}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ngayLapHD">
        <th mat-header-cell *matHeaderCellDef class="mw200">Ngày lập HĐ</th>
        <td mat-cell *matCellDef="let bill"> {{bill.ngayLapHD}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tongTienHDB">
        <th mat-header-cell *matHeaderCellDef class="mw200">Tổng tiền</th>
        <td mat-cell *matCellDef="let bill"> {{bill.tongTienHDB}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <!--    <h2 *ngIf="currentPage > response.last_page" style="text-align: center; margin: 40px">Không có dữ liệu</h2>-->

    <!--    <div *ngIf="isLoading" style="text-align: center">-->
    <!--      <app-loading-spinner></app-loading-spinner>-->
    <!--    </div>-->
  </section>

  <div class="bottom-table">
    <div class="page-size">
      <p>Số kết quả mỗi trang</p>
      <select #pageSize class="page-size-number" (change)="onChangedPageSize(pageSize.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
    <!--    <div class="pagination">-->
    <!--      <p>Hiển thị {{response.from}}-{{response.to}} trên tổng {{response.total}} kết quả </p>-->
    <!--      <ul class="pagination-list">-->
    <!--        <ng-container>-->
    <!--          <li class="pagination-item">-->
    <!--            <button class="pagination-button" (click)="changePage('1')" [disabled]="response.current_page==1">&laquo;-->
    <!--            </button>-->
    <!--          </li>-->
    <!--          <li class="pagination-item">-->
    <!--            <button class="pagination-button" (click)="changePage((response.current_page-1).toString())"-->
    <!--                    [disabled]="response.current_page==1">&#8249;-->
    <!--            </button>-->
    <!--          </li>-->
    <!--          <li class="pagination-item" *ngFor="let page of response.links; let i = index">-->
    <!--            <button class="pagination-button" (click)="changePage(page.label)"-->
    <!--                    [class.activePage]="page.active" [disabled]="!page.url"-->
    <!--                    style="padding: 5px 9px !important;">{{page.label}}</button>-->
    <!--          </li>-->
    <!--          <li class="pagination-item">-->
    <!--            <button class="pagination-button" (click)="changePage((response.current_page+1).toString())"-->
    <!--                    [disabled]="response.current_page>=response.last_page">&#8250;-->
    <!--            </button>-->
    <!--          </li>-->
    <!--          <li class="pagination-item">-->
    <!--            <button class="pagination-button" (click)="changePage(response.last_page.toString())"-->
    <!--                    [disabled]="response.current_page>=response.last_page">&raquo;-->
    <!--            </button>-->
    <!--          </li>-->
    <!--        </ng-container>-->
    <!--      </ul>-->

    <!--    </div>-->
  </div>
</div>


<p-toast></p-toast>
