<form [formGroup]="signupForm">
  <p class="form-intro">Không gian này cho phép bạn quản lý thông tin cá nhân, đơn đặt hàng Cửa hàng điện tử, cập nhật
    tin tức và đăng ký bản tin.</p>
  <p class="form-required">Bắt buộc*</p>
  <div class="form-group">
    <p class="form-control-label">Giới tính*</p>
    <div class="form-check-group">
      <div class="form-check__item">
        <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">
        <label for="man" class="form-check-label--radio">Nam</label>
      </div>
      <div class="form-check__item">
        <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">
        <label for="women" class="form-check-label--radio">Nữ</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="fullName"
           [class.form-input__error]="fullName?.invalid && fullName?.touched">
    <span class="bar"></span>
    <label class="form-label">Họ và tên *</label>

    <span *ngIf="fullName?.invalid && fullName?.touched" class="help-block">
          <span *ngIf="fullName?.errors?.['required']" class="red">
            Vui lòng nhập họ tên.
          </span>
          <span *ngIf="fullName?.errors?.['pattern']" class="red">
            Vui lòng nhập ký tự khác số.
          </span>
        </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="address"
           [class.form-input__error]="address?.invalid && address?.touched">
    <span class="bar"></span>
    <label class="form-label">Địa chỉ *</label>

    <span *ngIf="address?.invalid && address?.touched" class="help-block">
          <span *ngIf="address?.errors?.['required']" class="red">
            Vui lòng nhập địa chỉ.
          </span>
    </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="phoneNumber"
           [class.form-input__error]="phoneNumber?.invalid && phoneNumber?.touched">
    <span class="bar"></span>
    <label class="form-label">Số điện thoại *</label>

    <span *ngIf="phoneNumber?.invalid && phoneNumber?.touched" class="help-block">
          <span *ngIf="phoneNumber?.errors?.['required']" class="red">
            Vui lòng nhập số điện thoại.
          </span>
          <span *ngIf="phoneNumber?.errors?.['pattern']" class="red">
            Vui lòng nhập đúng định dạng số điện thoại.
          </span>
        </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="email"
           [class.form-input__error]="email?.invalid && email?.touched">
    <span class="bar"></span>
    <label class="form-label">Địa chỉ email*</label>

    <span *ngIf="email?.invalid && email?.touched" class="help-block">
      <span *ngIf="email?.errors?.['required']" class="red">
        Vui lòng nhập email.
      </span>
      <span *ngIf="email?.errors?.['email']" class="red">
        Vui lòng nhập email đúng định dạng
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="confirmEmail"
           [class.form-input__error]="confirmEmail?.invalid && confirmEmail?.touched">
    <span class="bar"></span>
    <label class="form-label">Nhập lại email*</label>

    <span *ngIf="confirmEmail?.invalid && confirmEmail?.touched" class="help-block">
      <span *ngIf="confirmEmail?.errors?.['required']" class="red">
        Vui lòng nhập email.
      <br>
      </span>
      <span *ngIf="confirmEmail?.errors?.['notMatch']" class="red">
        Email không khớp.
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="password" class="form-input" required formControlName="password"
           [class.form-input__error]="password?.invalid && password?.touched">
    <span class="bar"></span>
    <label class="form-label">Mật khẩu*</label>

    <span *ngIf="password?.invalid && password?.touched" class="help-block">
      <span *ngIf="password?.errors?.['required']" class="red">
        Vui lòng nhập mật khẩu.
      <br>
      </span>
      <span *ngIf="!password?.errors?.['minLength']" class="red">
        Mật khẩu phải nhiều hơn 6 ký tự.
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="password" class="form-input" required formControlName="confirmPassword"
           [class.form-input__error]="confirmPassword?.invalid && confirmPassword?.touched">
    <span class="bar"></span>
    <label class="form-label">Nhập lại mật khẩu*</label>

    <span *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="help-block">
        <span *ngIf="confirmPassword?.errors?.['required']" class="red">
          Vui lòng nhập lại mật khẩu.
      <br>
        </span>
        <span *ngIf="confirmPassword?.errors?.['notMatch']" class="red">
          Mật khẩu không khớp.
        </span>
    </span>
  </div>
  <div class="form-group">
    <div class="form-policy">
      <p class="policy-intro">Để biết thêm thông tin về cách chúng tôi sử dụng thông tin cá nhân của bạn, vui lòng xem
        <a href="" class="policy-link">Chính sách bảo mật</a>
      </p>
    </div>
  </div>
  <div class="form-actions text-align--center">
    <button type="submit" class="button button--primary" style="width: 100%;" (click)="onSubmit(signupForm)"
            [disabled]="signupForm.invalid">Tạo tài khoản
    </button>
  </div>
</form>
<div *ngIf="isLoading" style="display: block;text-align: center;padding-top: 24px;">
  <app-loading-spinner></app-loading-spinner>
</div>
<p-toast></p-toast>
