<form [formGroup]="signupForm">
  <p class="form-intro">This space allows you to manage your personal information, e-Boutique orders, news updates and
    newsletter subscriptions.</p>
  <p class="form-required">Required field*</p>
  <div class="form-group">
    <p class="form-control-label">Title*</p>
    <div class="form-check-group">
      <div class="form-check__item">
        <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">
        <label for="man" class="form-check-label--radio">Nam</label>
      </div>
      <div class="form-check__item">
        <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">
        <label for="women" class="form-check-label--radio">Nữ</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="fullName"
           [class.form-input__error]="fullName?.invalid && fullName?.touched">
    <span class="bar"></span>
    <label class="form-label">Họ và tên *</label>

    <span *ngIf="fullName?.invalid && fullName?.touched" class="help-block">
          <span *ngIf="fullName?.errors?.['required']" class="red">
            Vui lòng nhập họ tên.
          </span>
          <span *ngIf="fullName?.errors?.['pattern']" class="red">
            Vui lòng nhập ký tự khác số.
          </span>
        </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="address"
           [class.form-input__error]="address?.invalid && address?.touched">
    <span class="bar"></span>
    <label class="form-label">Địa chỉ *</label>

    <span *ngIf="address?.invalid && address?.touched" class="help-block">
          <span *ngIf="address?.errors?.['required']" class="red">
            Vui lòng nhập địa chỉ.
          </span>
    </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="phoneNumber"
           [class.form-input__error]="phoneNumber?.invalid && phoneNumber?.touched">
    <span class="bar"></span>
    <label class="form-label">Số điện thoại *</label>

    <span *ngIf="phoneNumber?.invalid && phoneNumber?.touched" class="help-block">
          <span *ngIf="phoneNumber?.errors?.['required']" class="red">
            Vui lòng nhập số điện thoại.
          </span>
          <span *ngIf="phoneNumber?.errors?.['pattern']" class="red">
            Vui lòng nhập đúng định dạng số điện thoại.
          </span>
      <!--          <span *ngIf="phoneNumber?.errors?.['pattern']" class="red">-->
      <!--            Vui lòng nhập ký tự khác số.-->
      <!--          </span>-->
        </span>
  </div>
  <!--  <p class="form-control-label">Date of Birth</p>-->
  <!--  <div class="row no-gutters form-group">-->
  <!--    <div class="col l-4">-->
  <!--      <select class="form-control&#45;&#45;select">-->
  <!--        <option>Day</option>-->
  <!--        <option *ngFor="let day of days" [id]="day" [value]="day">{{ day }}</option>-->
  <!--      </select>-->
  <!--    </div>-->
  <!--    <div class="col l-4">-->
  <!--      <select class="form-control&#45;&#45;select" style="border-left: none; border-right: none;">-->
  <!--        <option>Month</option>-->
  <!--        <option *ngFor="let month of months" [id]="month" [value]="month">{{ month }}</option>-->
  <!--      </select>-->
  <!--    </div>-->
  <!--    <div class="col l-4">-->
  <!--      <select class="form-control&#45;&#45;select">-->
  <!--        <option>Year</option>-->
  <!--        <option *ngFor="let year of years" [id]="year" [value]="year">{{ year }}</option>-->
  <!--      </select>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="email"
           [class.form-input__error]="email?.invalid && email?.touched">
    <span class="bar"></span>
    <label class="form-label">Email Address*</label>

    <span *ngIf="email?.invalid && email?.touched" class="help-block">
      <span *ngIf="email?.errors?.['required']" class="red">
        Error - This field is required
      </span>
      <span *ngIf="email?.errors?.['email']" class="red">
        Error - Please enter a valid Email address
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="confirmEmail"
           [class.form-input__error]="confirmEmail?.invalid && confirmEmail?.touched">
    <span class="bar"></span>
    <label class="form-label">Confirm Email*</label>

    <span *ngIf="confirmEmail?.invalid && confirmEmail?.touched" class="help-block">
      <span *ngIf="confirmEmail?.errors?.['required']" class="red">
        Error - This field is required
      <br>
      </span>
      <span *ngIf="confirmEmail?.errors?.['notMatch']" class="red">
        Error - email confirm must equal email
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="password" class="form-input" required formControlName="password"
           [class.form-input__error]="password?.invalid && password?.touched">
    <span class="bar"></span>
    <label class="form-label">Password*</label>

    <span *ngIf="password?.invalid && password?.touched" class="help-block">
      <span *ngIf="password?.errors?.['required']" class="red">
        Error - This field is required
      <br>
      </span>
      <span *ngIf="!password?.errors?.['minLength']" class="red">
        Error - This field is greater than 6
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="password" class="form-input" required formControlName="confirmPassword"
           [class.form-input__error]="confirmPassword?.invalid && confirmPassword?.touched">
    <span class="bar"></span>
    <label class="form-label">Confirm Password*</label>

    <span *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="help-block">
        <span *ngIf="confirmPassword?.errors?.['required']" class="red">
          Error - This field is required
      <br>
        </span>
        <span *ngIf="confirmPassword?.errors?.['notMatch']" class="red">
          Error - password confirm must equal password
        </span>
    </span>
  </div>
  <div class="form-group">
    <div class="form-policy">
      <p class="policy-intro">For further information about how we use your personal information, please see our
        <a href="" class="policy-link">Privacy Policy</a>
      </p>
    </div>
  </div>
  <div class="form-actions text-align--center">
    <button type="submit" class="button button--primary" style="width: 100%;" (click)="onSubmit(signupForm)"
            [disabled]="signupForm.invalid">Create Account
    </button>
  </div>
</form>
<div *ngIf="isLoading" style="display: block;text-align: center;padding-top: 24px;">
  <app-loading-spinner></app-loading-spinner>
</div>
<p-toast></p-toast>
