<div class="tab-content">
  <div class="form">
    <form [formGroup]="forgotForm">
      <p class="form-intro">Mật khẩu sau khi lấy lại sẽ được gửi đến email của bạn.</p>
      <p class="form-required">Trường bắt buộc*</p>
      <div class="form-group">
        <input type="text" class="form-input" required formControlName="email"
               [class.form-input__error]="email?.invalid && email?.touched">
        <span class="bar"></span>
        <label class="form-label">Địa chỉ email*</label>
        <span *ngIf="email?.invalid && email?.touched" class="help-block">
      <span *ngIf="email?.errors?.['required']" class="red">
        Vui lòng nhập email.
      </span>
      <span *ngIf="email?.errors?.['email']" class="red">
        Vui lòng nhập đùng định dạng email.
      </span>
    </span>
      </div>

      <div class="form-actions text-align--center">
        <button type="submit" class="button button--primary" (click)="onSubmit(forgotForm)"
                [disabled]="forgotForm.invalid">
          Lấy lại mật khẩu
        </button>
      </div>

    </form>
  </div>
</div>

<div *ngIf="isLoading" style="display: block;text-align: center;padding-top: 24px;">
  <app-loading-spinner></app-loading-spinner>
</div>
<p-toast></p-toast>
