<div>
  <div class="bag-modal">
    <div>
      <h2 class="title">{{ 'YÊU THÍCH (' + watchesInCart.length + ')'}}</h2>
      <svg (click)="onCloseWishlist(false)" class="icon-cancel" viewBox="0 0 512 512" version="1.1" xml:space="preserve"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier"> <g
          id="_x37_12-_close__x2C__cross__x2C__cancel__x2C_"> <g> <line
          style="fill:none;stroke:#000000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131;"
          x1="486.21" x2="26.739" y1="26.814" y2="486.139"></line>
          <line
            style="fill:none;stroke:#000000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131;"
            x1="486.21" x2="26.739" y1="486.139" y2="26.814"></line> </g> </g>
          <g id="Layer_1"></g> </g></svg>
    </div>
    <div class="bag-content" *ngIf="watchesInCart.length<=0">

      <div class="bag-list-item" style="    height: calc(100vh - 122px);
">
        <p class="text-align--center p-text-secondary">
          Không có sản phẩm nào trong danh sách.
        </p>
      </div>
    </div>
    <div class="bag-content" *ngIf="watchesInCart.length>0">
      <!--      <div class="bag-empty">-->
      <!--        <p class="bag-content-empty">Không có sản phẩm nào trong giỏ hàng</p>-->
      <!--      </div>-->
      <div class="bag-list-item" style="    height: calc(100vh - 122px);
">
        <p class="text-align--center p-text-secondary" *ngIf="!(watchesInCart.length>0)">
          Không có sản phẩm nào trong danh sách.
        </p>
        <div class="bag-item" *ngFor="let watch of watchesInCart; let i = index">
          <div class="row">
            <div class="col l-6">
              <a class="item-img-link" routerLink="/watches/{{watch.maSanPham}}" (click)="onCloseWishlist(false)">
                <img
                  class="item-img"
                  src="{{watchService.getImage(watch.maSanPham)}}"
                  alt="">
              </a>
            </div>
            <div class="col l-6 text-align--left">
              <div class="product-line-item__header">
                <div class="product-name">
                  <a routerLink="/watches/{{watch.maSanPham}}" class="product-name-link"
                     (click)="onCloseWishlist(false)">{{ watch.tenSanPham | uppercase}}</a>
                </div>
                <div class="product-close-icon">
                  <button class="close-icon" (click)="onRemoveToWishlist(watch.maSanPham)">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <circle opacity="0.5" cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle>
                        <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#1C274C" stroke-width="1.5"
                              stroke-linecap="round"></path>
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="product-desc">
                <p class="description">{{ watch.moTaSP }}</p>
              </div>
              <div class="product-price">
                <div class="price-sales">{{ watch.giaSanPham | currency: 'VND':'':'1.0-0' }}vnđ</div>
              </div>
              <br>
              <button class="button button--primary">Thêm giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <label class="bag-overlay" (click)="onCloseWishlist(false)"></label>

</div>
