body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.form-group {
  margin-bottom: 24px;
}

.form-title {
  padding-left: 10%;
  padding-bottom: 4px;
  font-size: 18px;
}

.form-input {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #ccc;
  width: 80%;
  margin-left: 10%;
}

.popup-add {
  background-color: #fff;
  height: 500px;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 700px;
  left: 50%;
  border: 1px solid;
}

.popup-repassword {
  background-color: #fff;
  height: 600px;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 700px;
  left: 50%;
  border: 1px solid;
}


.popup-delete--title {
  font-size: 22px;
  margin: 15px;
}

.popup-delete--description {
  padding: 18px 15px;
}

.popup-delete--action {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 12px;
}

.red {
  margin-left: 10%;
}

.form-input__error {
  border: 1px solid red;
}

.edit-info-btn {
  padding: 5px;
  background-color: #ccc;
  border-radius: 16px;
}

.edit-info-btn:hover {
  background-color: #a2a0a0;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.invoice {
  padding: 30px;
  background-color: #fff;
  height: 600px;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 700px;
  left: 50%;
  border: 1px solid #000;
}

.invoice-header {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-items {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-items th, .invoice-items td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.invoice-total {
  margin-top: 20px;
  text-align: right;
}
