<form [formGroup]="loginForm">
  <p class="form-intro">Nếu bạn đã đăng ký với Cartier, đăng nhập tại đây.</p>
  <p class="form-required">Trường bắt buộc*</p>
  <div class="form-group">
    <input type="text" class="form-input" required formControlName="email"
           [class.form-input__error]="email?.invalid && email?.touched">
    <span class="bar"></span>
    <label class="form-label">Địa chỉ email*</label>
    <span *ngIf="email?.invalid && email?.touched" class="help-block">
      <span *ngIf="email?.errors?.['required']" class="red">
        Vui lòng nhập email.
      </span>
      <span *ngIf="email?.errors?.['email']" class="red">
        Vui lòng nhập đùng định dạng email.
      </span>
    </span>
  </div>
  <div class="form-group">
    <input type="password" class="form-input" required formControlName="password"
           [class.form-input__error]="password?.invalid && password?.touched">
    <span class="bar"></span>
    <label class="form-label">Mật khẩu*</label>
    <span *ngIf="password?.invalid && password?.touched" class="help-block">
      <span *ngIf="password?.errors?.['required']" class="red">
        Vui lòng nhập mật khẩu
      <br>
      </span>
      <span *ngIf="!password?.errors?.['minLength']" class="red">
        Mật khẩu phải nhiều hơn 6 ký tự.
      </span>
    </span>
  </div>
  <div class="form-group">
    <div class="form-forgot">
      <a routerLink="/forgot-password" class="forgot-link">Quên mật khẩu?</a>
    </div>
    <div class="form-policy">
      <p class="policy-intro">Read the
        <a href="" class="policy-link">Privacy Policy</a>
        for further information
      </p>
    </div>
  </div>
  <div class="form-actions text-align--center">
    <button type="submit" class="button button--primary" (click)="onSubmit(loginForm)" [disabled]="loginForm.invalid">
      Đăng nhập
    </button>
  </div>

</form>

<div *ngIf="isLoading" style="display: block;text-align: center;padding-top: 24px;">
  <app-loading-spinner></app-loading-spinner>
</div>
<p-toast></p-toast>
