<div class="header">
  <div class="logo">
    <a routerLink="/" class="logo--link">
      <img class="logo-img" src="assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="user dropdown" appDropdown>
    <div class="user-name dropdown-toggle">
      Xin chào
      <br>
      <strong>Minh Lượng</strong>
    </div>
    <div class="drop-down-icon">
      <svg width="16px" height="16px" viewBox="0 0 1024 1024" class="icon" version="1.1"
           xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#000000"></path>
        </g>
      </svg>
    </div>
    <ul class="dropdown-menu">
      <li class="dropdown-item">Hồ sơ</li>
      <li class="dropdown-item">Đăng xuất</li>
    </ul>
  </div>
</div>
