<div class="col l-12" style="margin: 32px 0;">
  <ul class="breadcrumbs flex">
    <li class="breadcrumbs__item">
      <a routerLink="" class="breadcrumbs__link link--secondary font-family--sans">HOME</a>
      <span class="breadcrumbs__anchor">/</span>
    </li>
    <li class="breadcrumbs__item">
      <a routerLink="/watches" class="breadcrumbs__link link--secondary font-family--sans">WATCHES</a>
    </li>
  </ul>

  <div class="filter-container">
    <div class="male">
      <h4 class="heading-type" style="margin-bottom: 10px !important;">Giới tính</h4>
      <div class="form-check-group">
        <div class="form-check__item">
          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">
          <label for="man" class="form-check-label--radio">Nam</label>
        </div>
        <div class="form-check__item">
          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">
          <label for="women" class="form-check-label--radio">Nữ</label>
        </div>
      </div>
    </div>
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Chất liệu</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Hình dạng</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Cơ cấu hoạt đông</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Dây đeo</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Kích thước</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="male">-->
    <!--      <h4 class="heading-type" style="margin-bottom: 10px !important;">Sắp xếp theo</h4>-->
    <!--      <div class="form-check-group">-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nam" name="genderRegister" id="man" formControlName="genderRegister">-->
    <!--          <label for="man" class="form-check-label&#45;&#45;radio">Nam</label>-->
    <!--        </div>-->
    <!--        <div class="form-check__item">-->
    <!--          <input type="radio" value="Nữ" name="genderRegister" id="women" formControlName="genderRegister">-->
    <!--          <label for="women" class="form-check-label&#45;&#45;radio">Nữ</label>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
